.open-todo-list, .done-todo-list {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    margin-top: 50px;
    margin-bottom: 0;
    font-weight: 400;
  }

  &__select {
    font-size: 18px;
    outline: none;
    border: none;
    margin-bottom: -5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    cursor: pointer;
  }

  &__clear-button-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__clear-button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
  }
}